<ion-header>
  <ion-toolbar>
    <ion-title>
      Description
    </ion-title>
    <ion-buttons start>
      <button ion-button id="closeModalButton" (click)="dismiss()">
        <span color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close"  showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <h2>Basic Modal</h2>
      <p>This is an example modal.</p>
    </ion-item>
    <ion-item *ngFor="let item of modalObj">
      {{item.title}}
      <ion-note item-right>
        {{item.note}}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
