<ion-header>
  <ion-navbar>
    <button ion-button id="menuButton" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Modal Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row height-50>
      <ion-col text-center>
        <button ion-button secondary color="secondary" outline id="basicModalButton" (click)="showBasicModal()">Show Modal</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

