<ion-header>
  <ion-navbar>
    <button ion-button id="menuButton" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Actionsheet Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row padding-top="30" text-center>
      <ion-col text-center>
        <button ion-button color="secondary" round id="basicActionsheetButton" (click)="showBasicActionSheet()">Action Sheet</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

