<ion-header>
  <ion-navbar>
    <button ion-button id="menuButton" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Camera Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home">
  <ion-card>
    <ion-card-content>
      <div class="gallery-button" text-center>
        <img [src]="imageSrc" />
        <ion-icon name="images" style="font-size:45px" (click)="openGallery()"></ion-icon>
        <p>Choose a Photo</p>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="gallery-button" text-center>
        <img [src]="base64Image" />
        <ion-icon name="camera" style="font-size:45px" (click)="takePicture()"></ion-icon>
        <p>Take a Picture</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
