<ion-header>
  <ion-navbar>
    <button ion-button id="menuButton" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-row padding-top="30">
    <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input clearInput></ion-input>
    </ion-item>
  </ion-row>

  <ion-row padding-top="30">
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" clearInput></ion-input>
    </ion-item>
  </ion-row>

  <ion-row padding-top="30">
    <ion-col text-center>
      <button ion-button>Login</button>
      <button ion-button color="danger" id="forgotPasswordButton" (click)="showPasswordAlert()">Forgot Password</button>
    </ion-col>
  </ion-row>


</ion-content>

