<ion-header>
  <ion-navbar>
    <button ion-button id="menuButton" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>

    <ion-row height-50>
      <ion-col text-center>
        <button ion-button secondary outline id="basicAlertButton" (click)="showBasicAlert()">Show Alert</button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
